In [2]:
# 몫을 구할 수 있는 값.
3 / 2

1.5

In [3]:
# 몫에서 정수 값만 출력할 수 있는 값.
3 // 2

1

In [4]:
5.2 // 2

2.0

In [5]:
5.2 / 2

2.6

In [6]:
2 * 5

10

In [7]:
2 ** 5

32

In [8]:
a = 10
b = 10
a * b

100

In [9]:
a = 10
b = a ** 2
a + b

110

In [11]:
a = 10
b = a ** 2
(a + b) % a

0

In [12]:
'1234'

'1234'

In [13]:
1234

1234

In [14]:
"Hello"

'Hello'

In [15]:
msg = 'Hello'
msg

'Hello'

In [22]:
msg = 'Hello'
msg + 'bro!'

'Hellobro!'

In [26]:
# 변수 내 문자열 안에 '\n' 넣어준 후, print()써야 띄워짐.
msg = 'Hello\nBro'
print(msg)

Hello
Bro

In [32]:
# '''안에 원하는 문자역을 쓰고, 띄워쓰기도 설정해줄 수 있음.'''
msg = '''Hello 
bro!'''
#msg
print(msg)

Hello
bro!

In [34]:
# \t는 탭을 해줌.
msg = "Hello\tbro!"
print(msg)

Hello	bro!

In [35]:
# \\는 \ 문자를 한 번 출력해줌. 
msg = "Hello\\bro!"
print(msg)

Hello\bro!

In [36]:
# \*는 * 문자를 한 번 출력해줌. 
msg = "Hello\*bro!"
print(msg)

Hello\*bro!

In [37]:
# \"는 "문자를 한 번 출력해줌. 
msg = "Hello\"bro!"
print(msg)

Hello"bro!

In [38]:
numbers = [1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

In [43]:
numbers = [1,2,3,4,5]
numbers + [1, 2]

[1, 2, 3, 4, 5, 1, 2]

In [59]:
numbers = ['Hello', ' My', ' Name', ' is', 'Harry']
Sentence = numbers[4] + numbers[3] + numbers[1] + numbers[2]
print(Sentence)
#numbers

Harry is My Name

In [61]:
real_number = [1.0, 2.0, 3.0, 4, 5]
real_number
type(real_number)

list

In [67]:
# [:N] 로 적게될 경우에는, 처음 시작되는 지점이 0부터 시작되므로 처음의 위치에서 뒤의 N번째 이전까지의 숫자까지 출력.
numbers = [1, 2, 3, 4, 5]
#numbers[1 :]
numbers[:1]

[1]

In [68]:
numbers = [1, 2, 3, 4, 5]
numbers[2:]

[3, 4, 5]

In [69]:
numbers = [1, 2, 3, 4, 5]
numbers[2:] + [1,2,3]

[3, 4, 5, 1, 2, 3]

In [70]:
numbers = [1, 2, 3, 4, 5]
numbers[1: -1]

[2, 3, 4]

In [71]:
numbers = [1, 2, 3, 4, 5]
numbers[0] = 9
numbers

[9, 2, 3, 4, 5]

In [73]:
numbers = [1, 2, 3, 4, 5]
numbers[0 : 2] = [3,4]
numbers

[3, 4, 3, 4, 5]

In [83]:
numbers = [1, 2, 3, 4, 5]
numbers.append(9)
numbers.append(10)
numbers

[1, 2, 3, 4, 5, 9, 10]

In [80]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(1, 1.5)
numbers.insert(2, 3.5)
numbers

[1, 1.5, 3.5, 2, 3, 4, 5]

In [85]:
#pop()의 경우 마지막 변수를 출력하고, 자연스럽게 삭제됨.
numbers = [1, 2, 3, 4, 5]
numbers.pop()
numbers

[1, 2, 3, 4]

In [87]:
# del 키워드는 앞에 쓰이며, pop()함수와 다르게 삭제하고 다 지우지 않고 지정한 위치의 값만 지워짐.
numbers = [1,2,3,4,5,6]
del numbers[2]
numbers

[1, 2, 4, 5, 6]

In [90]:
# len(변수) 형태로 쓰일 수 있으며, 길이 값으로 변환하면 정수 값이랑 합칠 수 있음. 
numbers = [1.0, 2.0, 3.6, 5]
len(numbers) + 5
#print(numbers)

9

In [98]:
numbers = [1,2,3,4, 'JelleyBean']
numbers.append("Say")
numbers.insert(2, "Gello")
numbers

[1, 2, 'Gello', 3, 4, 'JelleyBean', 'Say']

In [100]:
numbers = (1,2,3,4,5)
numbers
type(numbers)

tuple

In [101]:
numbers = (1,2,3,4,5)
numbers

(1, 2, 3, 4, 5)

In [105]:
numbers = (1,2,3,4, "GELLO", 'Hello')
numbers[0:-2]
numbers[0:-1]
# 뒤에 요소를 지정해주지 않았을 경우, '-2' 부분의 값까지만 출력해줌.
numbers[-2:]

('GELLO', 'Hello')

In [112]:
#  튜플의 값은 변경할 수 없다는 점!
numbers = (1,2,3,4,5)
#numbers[0] = 'Jelly'

In [129]:
numbers = (1,2,3)
new_number = ('Hello', 'Hi')
#new_number = numbers + (6,7)


# trans_numbers 부분에서 numbers를 list로 변환시켜줌.
trans_numbers = list(numbers)
trans_numbers[2] = "ET"
numbers = tuple(trans_numbers)
print(numbers)

(1, 2, 'ET')

In [131]:
# 파이썬 인터프리터에서는 (1) 이렇게만 쓰면 수학 내에서의 소괄호인지, 튜플의 소괄호인지 알 수 없음. (',') 같이 써줘야함. 
numbers = (1,2,3,4) + (1,)
numbers

(1, 2, 3, 4, 1)

In [133]:
user1 = {'name' : '홍길동', 'age' : 30, 'email' : 'jojunhyeong12@daum.net'}
user1
type(user1)

dict

In [136]:
dict1 = {'kei' : [100, 'Hi', 4.5]}
dict1['kei']

[100, 'Hi', 4.5]

In [140]:
#dict1['kei'][1], dict1['kei'][0]

('Hi', 100)

In [160]:
dict1 = {'kei' : [100, 'Hi', 4.5]}
dict1['kei'].insert(1, 'Hello')
del dict1['kei'][3]
print(dict1)

{'kei': [100, 'Hello', 'Hi']}

In [161]:
dict2 = {10 : 'ten'}
dict2[10]

'ten'

In [165]:
dict3 = {}
dict3['a'] = 'A'
dict3['b'] = 'B'
dict3

{'a': 'A ', 'b': 'B'}

In [166]:
dict3[3] = [1,2,3]
dict3

{'a': 'A ', 'b': 'B', 3: [1, 2, 3]}

In [190]:
dict4 = {}
dict4['a'] = [10, 20, 30, 40]
dict4['b'] = [60, 70, 80]
dict4['a'].pop(1)
print(dict4)

{'a': [10, 30, 40], 'b': [60, 70, 80]}

In [191]:
# if문에 대해서 알아보자.

check = True
if check:
    print('-' * 13)
    print('chdck is true')
    print('-' * 13)

-------------
chdck is true
-------------

In [193]:
check = False
if check == False:
    print('-' * 14)
    print('check is false')
    print('-' * 14)

--------------
check is false
--------------

In [196]:
if check != True:
    print('-' * 18)
    print('check is not true')
    print('-' * 18)

------------------
check is not true
------------------

In [2]:
age = 15
if age >= 15:
    print('You are an adult')
elif age < 15:
    print('You are a child')
else:
    print('You are Good at age')

You are an adult

In [3]:
dist = 300
if dist >= 0 and dist <=50:
    print('1000woon')
elif dist > 50 and dist <= 100:
    print('20000won')
else :
    print('Over 3000won')

Over 3000won

In [5]:
i = 1
while i <= 10:
    print('i=%d' %i)
    i +=1

i=1
i=2
i=3
i=4
i=5
i=6
i=7
i=8
i=9
i=10

In [7]:
i = 1
while i <= 10:
    print('i = %d' %i)
    i*=2

i = 1
i = 2
i = 4
i = 8

In [11]:
while True:
    print('input number : ')
    menu = int(input())
    if menu == 0: break
    elif menu == 1: print('number one')
    elif menu == 2: print('number two')
    elif menu == 99:
        continue
    else:
        print('another number')

input number :
2
number two
input number :
99
input number :
1
number one
input number :
a

ValueError: invalid literal for int() with base 10: 'a'

In [13]:
# 어떠한 조건을 활용할 때는 while문을 사용하고, tuple, list를 사용하는 경우에는 for()문을 사용함.

numbers = [1,2,3,4,5]
for n in numbers:
    print(n)

1
2
3
4
5

In [21]:
numbers = {'key': [1,2,3,4]}
for n in numbers:
    numbers['key'].pop(3)
    numbers['key'].pop(2)
    print(numbers)

{'key': [1, 2]}

In [22]:
numbers = range(1,6)
for n in numbers:
    print(n)

1
2
3
4
5

In [38]:
# (x,y) 값이 자동으로 할당될 수 있도로고 하게 하려면 튜플로 표현되어야 함. 

crood = {(0,0), (10,15), (20, 25)}
for x, y in crood:
    print(x,y)

10 15
20 25
0 0

In [41]:
user = {'name' : 'Kei', 'age' : 35, 'nationality' : 'Korea'}
#user.keys()
for n in user.keys():
    print(n)

name
age
nationality

In [45]:
# 딕셔너리 내에서의 value() 값만을 출력해주는 함수/ values()
user = {'name': 'kei', 'age' : 35, 'nationnality' : 'korea'}
for k in user.values():
    print(k)

kei
35
korea

In [50]:
user = {'name' : 'lee hyunji', 'age' : 25, 'university' : 'Hanyang'}
for k, v in user.items():
    print(k, v)

name lee hyunji
age 25
university Hanyang

In [53]:
# function (함수)에 대해서 알아보자.

def add(a, b):
    return a + b

add(10, 20)

30

In [59]:
# def로 선언해준 것이 결과적으로 한번 더 호출하면 print()문의 기능을 하는 것. 
def print_user(user, score):
    print("name  : %s" %user['name'])
    print("age : %d" %user['age'])
    print("score : %d" %score)

# 변수 값을 할당해 준 것.
user = {'name' : 'Ketty', 'age' : 35}
score = 88
print_user(user, score)

name  : Ketty
age : 35
score : 88

In [4]:
import pickle
f = open('setting.txt', 'wb')
# 저장할 내용.
setting = [{'title', 'python program'}, {'author' : 'Kei'}]
pickle.dump(setting, f)
f.close()

In [3]:
import pickle 
f = open('setting.txt', 'rb')
setting = pickle.load(f)
f.close()
print(setting)

[{'title', 'python program'}, {'author': 'Kei'}]

In [6]:
import time
time.time()

1678282873.7578962

In [8]:
import time

#UTC 데이터를 struct_time 객체
time.localtime(time.time())

time.struct_time(tm_year=2023, tm_mon=3, tm_mday=8, tm_hour=22, tm_min=43, tm_sec=36, tm_wday=2, tm_yday=67, tm_isdst=0)

In [14]:
import time
lt = time.localtime(time.time())
time.strftime('%Y/%m/%d %H:%M:%S', lt)

'2023/03/08 22:46:56'

In [20]:
import time
this_time = time.localtime(time.time())
time.strftime('%b /%H:%M:%S', this_time)

'Mar /00:20:00'

In [21]:
import random
random.random()

0.7322531779638729

In [22]:
# uniform() 함수를 사용하는 것은, 임의의 생성되는 실수의 범위를 정할 수 있도록 함.
import random
random.uniform(1,2) # 1 <= random < 2

1.4741735254309214

In [23]:
# randint() 의 경우 난수의 범위를 지정해서 출력할 수 있도록 함.
import random
random.randint(1,5) # 1 <= random <= 5

3

In [24]:
random.randint(1,5)

2

In [25]:
random.randint(1,5)

5

In [31]:
def add_num(a,b):
    print(a+b)
    
add_num(1,2)

3

In [42]:
dist3 = ['apple', 'watermelon', 'Peter', 'Pirate']
dist3.append('SaiTama')
dist3.pop(2)
print(dist3)

['apple', 'watermelon', 'Pirate', 'SaiTama']

In [69]:
#dist3[3] = [1,2,3,4]
dist4 = {'name' : 'Kei', 'age' : 35}
dist4
del dist4['name']
dist4

{'age': 35}

In [70]:
n = 10
if n >= 10:
    print('This num is Real')
else:
    print('This is out of nnum')

This num is Real